<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/styles.css" />
    </head>

    <body>
        <div id="main-page-wrapper">
            <div>
                <h1>What's the weather like in...?</h1>
                <div class="form-wrapper">
                    <ul>
                        <li>{{ message }}</li>
                    </ul>
                    <form
                        autocomplete="off"
                        class="zip-code-input-wrapper"
                        action="weather"
                        method="get"
                    >
                        <input
                            type="text"
                            id="zipcode"
                            name="zipcode"
                            placeholder="Search Zipcode"
                        />
                        <button id="go-btn" type="submit">Go</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
